body {
    --background-color: #f0f0f0;
    --border-color: #444;
    --text-color: #444;
    --selected-background-color: #0f8ea4;
    --selected-border-color: white;
    --selected-text-color: white;

    --toolbar-background-color: #ccc;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}
button {
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--text-color);
}

.primary, .selected {
    background-color: var(--selected-background-color);
    border-color: var(--selected-border-color);
    color: var(--selected-text-color);
}

.panel {
    background-color: var(--toolbar-background-color);
    border: 1px solid black;
}