@import "base.css";
.fill-page {
    border: 0px solid red;
    min-height: 100vh;
    box-sizing: border-box;
}

.vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.spacer {
    flex: 1.0;
}

.toolbar {
    background-color: var(--toolbar-background-color);
}
.wrapbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
