.popupScrim {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 100;
    background-color: rgba(255,0,255,0.0);
    display: none;
}
.popupScrim.visible {
    display: flex;
}

.popup-wrapper {
    position: absolute;
    background-color: var(--background-color);
}

.popup-background {
    border: 1px solid black;
}